* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(51, 51, 51), rgb(0, 0, 0));
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  min-height: 90vh;
  width: 70%;
  background-color: rgb(216, 216, 216);
}

.box {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
}

.header {
  grid-row: 1/2;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.image {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}

.image img {
  width: 600px;
  height: auto;
  border-radius: 15px;
}

.links {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  display: flexbox;
  width: 100%;
}

a.btn:link,
a.btn:visited {
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 0.4rem 0.9rem;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #ffcece34, #ffa6a615);
  border-width: 0ch;
  display: block;
}

a.btn:hover,
a.btn:active {
  background-color: rgb(161, 67, 67);
}

a.btn.active {
  background-color: rgb(186, 186, 186);
}
